@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button @onclick="() => {DarkTheme(isDarkMode);}">@modeToggleEmoji</button>
        </div>

        <article style="background-color=@color" class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    public bool isDarkMode = false;
    public string color = "black";
    public string modeToggleEmoji = "☀️";
    public void DarkTheme(bool param)
    {
        isDarkMode = !param;
        switch(isDarkMode)
        {
            case true:
            modeToggleEmoji = "🌙";
            break;
            case false:
            modeToggleEmoji = "☀️";
            break;
        }
    }
}